body {
    background-color: #D7DEDC;
    overflow-y: hidden;
  }
  
  *{
    text-decoration: none;
    font-family: 'Poppins';
  }
  
  .container{
    width: 100%;
  }
  
  .text{
    background-color: #CFCFCD61;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 100px;
    font-size: large;
    box-shadow: 0px 0px 20px #00000041;
  }
  
  .historia{
    width: 100%;
    text-align: center;
  }
  
  .eleccion{
    text-align: center;
    font-weight: bold;
    
  }
  
  .eleccion:first-of-type{
    margin-top: 50px;
  }
  .eleccion a{
    color: black;
  }
  
  .historia p{
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
  }
  
  h1{
    text-align: center;
  
  }