
body{
  background-color: black;

}

.mapa{
  width: 100%;
  height: auto;
}


.face {
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.portrait{
  width: 100%;
  max-width: 50px;
}